[submodule "submodules/typescript"]
	path = submodules/typescript
	url = https://github.com/thirdweb-dev/typescript-sdk
[submodule "submodules/react"]
	path = submodules/react
	url = https://github.com/thirdweb-dev/react
[submodule "submodules/contracts"]
	path = submodules/contracts
	url = git@github.com:thirdweb-dev/contracts.git
