/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5204bf;
  --ifm-color-primary-dark: #4a04ac;
  --ifm-color-primary-darker: #4603a2;
  --ifm-color-primary-darkest: #390386;
  --ifm-color-primary-light: #5a04d2;
  --ifm-color-primary-lighter: #5e05dc;
  --ifm-color-primary-lightest: #6b05f8;
  /* overrides below */
  --ifm-background-color: #f5f6f8;
  --ifm-navbar-background-color: #fff !important;
  --ifm-footer-background-color: #fff;
  --ifm-card-background-color: #fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #a855f7;
  --ifm-color-primary-dark: #9835f6;
  --ifm-color-primary-darker: #9025f5;
  --ifm-color-primary-darkest: #770ade;
  --ifm-color-primary-light: #b875f8;
  --ifm-color-primary-lighter: #c085f9;
  --ifm-color-primary-lightest: #d9b4fb;
  /* overrides below */
  --ifm-background-color: #0f1318 !important;
  --ifm-navbar-background-color: #1b2129 !important;
  --ifm-footer-background-color: #1b2129;
  --ifm-card-background-color: #1b2129;
  --ifm-background-surface-color: #1b2129 !important;
  --ifm-toc-border-color: rgba(255, 255, 255, 0.1) !important;
}

.theme-doc-sidebar-container {
  background: var(--ifm-navbar-background-color);
}

[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-emphasis-700);
  --docsearch-container-background: rgb(94 100 112 / 70%);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  /* --docsearch-container-background: rgb(47 55 69 / 70%); */
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-card-background-color);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-card-background-color) 100%
  );
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.theme-doc-sidebar-container {
  margin-right: auto;
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

article {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Adjust footer link colors */
#__docusaurus > footer > div > div.text--center > div > a {
  color: unset;
}

#__docusaurus > footer > div > div.text--center > div > a:hover {
  color: var(--ifm-link-color);
  text-decoration: underline;
}

/* hide categories */

.hidden-category a {
  color: var(--ifm-menu-color) !important;
}

.hidden-category button {
  display: none;
}

.hidden-category > .menu__list {
  display: none !important;
}

.card:hover {
  outline: 1px solid var(--ifm-color-primary);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* wtf docusaurus */
.blogPostTitle_node_modules-\@docusaurus-theme-classic-lib-next-theme-BlogPostItem-styles-module {
  font-size: var(--ifm-h2-font-size) !important;
}

.theme-doc-sidebar-item-link-level-2 {
  padding-left: var(--ifm-menu-link-padding-horizontal);
}

.theme-doc-sidebar-item-link-level-3 {
  padding-left: var(--ifm-menu-link-padding-horizontal);
}
