/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5204bf;
  --ifm-color-primary-dark: #4a04ac;
  --ifm-color-primary-darker: #4603a2;
  --ifm-color-primary-darkest: #390386;
  --ifm-color-primary-light: #5a04d2;
  --ifm-color-primary-lighter: #5e05dc;
  --ifm-color-primary-lightest: #6b05f8;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #f213a4;
  --ifm-color-primary-dark: #df0c95;
  --ifm-color-primary-darker: #d20c8d;
  --ifm-color-primary-darkest: #ad0a74;
  --ifm-color-primary-light: #f32cae;
  --ifm-color-primary-lighter: #f438b2;
  --ifm-color-primary-lightest: #f65dc1;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.theme-doc-sidebar-container {
  margin-right: auto;
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

article {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Adjust footer link colors */
#__docusaurus > footer > div > div.text--center > div > a {
  color: unset;
}

#__docusaurus > footer > div > div.text--center > div > a:hover {
  color: var(--ifm-link-color);
  text-decoration: underline;
}

/* hide categories */

.hidden-category a {
  color: var(--ifm-menu-color) !important;
}

.hidden-category button {
  display: none;
}

.hidden-category > .menu__list {
  display: none !important;
}

.card:hover {
  outline: 1px solid var(--ifm-color-primary);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
