/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a855f7;
  --ifm-color-primary-dark: #9835f6;
  --ifm-color-primary-darker: #9025f5;
  --ifm-color-primary-darkest: #770ade;
  --ifm-color-primary-light: #b875f8;
  --ifm-color-primary-lighter: #c085f9;
  --ifm-color-primary-lightest: #d9b4fb;
  --ifm-code-font-size: 90%; /*95%;*/
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary: #a855f7;
  --ifm-color-primary-dark: #9835f6;
  --ifm-color-primary-darker: #9025f5;
  --ifm-color-primary-darkest: #770ade;
  --ifm-color-primary-light: #b875f8;
  --ifm-color-primary-lighter: #c085f9;
  --ifm-color-primary-lightest: #d9b4fb;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.theme-doc-sidebar-container {
  margin-right: auto;
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

article {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Adjust footer link colors */
#__docusaurus > footer > div > div.text--center > div > a {
  color: unset;
}

#__docusaurus > footer > div > div.text--center > div > a:hover {
  color: var(--ifm-link-color);
  text-decoration: underline;
}
