// target it with more stable props than the f'd up classnames that docusaurus uses
article[itemprop="blogPost"] {
  header {
    h2 {
      font-size: var(--ifm-h2-font-size) !important;
      a {
        color: var(--ifm-font-color-base) !important;
      }
    }
  }
}
