pre {
  font: inherit;
  font-family: "IBM Plex Mono", monospace;
  border: 1px solid var(--thirdweb-border-color);
  font-size: 1rem;
}

code {
  border-radius: 6px;
}

pre code {
  background-color: var(--ifm-code-background);
}

.sp-wrapper {
  --sp-border-radius: var(--thirdweb-border-radius) !important;

  .sp-layout {
    border: 0;
  }
}

.sp-pre-placeholder {
  --sp-colors-fg-active: #f0fdaf;
  display: block;
}

.nestedSandpack > .sp-wrapper > .sp-layout {
  display: block;
}

.nestedSandpack > .sp-wrapper > .sp-layout .sp-stack + .sp-stack {
  height: 400px;
}

.sp-wrapper *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.sp-wrapper *::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
.sp-wrapper *::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
}

/* Handle on hover */
.sp-wrapper *::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

[data-theme="light"] {
  .theme-code-block-highlighted-line {
    background-color: #f2f0f0;
  }
}

[data-theme="dark"] {
  .theme-code-block-highlighted-line {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.live-code-block-container {
  border: 1px solid var(--thirdweb-border-color);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 2%;
  max-width: 92.5vw;
  padding-top: 24px;
}

.live-code-block {
  padding-right: 16px;
  border-right: 1px solid var(--thirdweb-border-color);
  width: 60%;
}

.live-code-block .token-line {
  font: inherit;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.85rem;
}

// Between 1596 and 996px
@media (max-width: 1596px) {
  .live-code-block-container {
    flex-direction: column;
  }

  .live-code-block {
    border-right: 0;
    padding-right: 0;
    margin-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid var(--thirdweb-border-color);
    padding-bottom: 16px;
  }
}
