body {
  color: var(--thirdweb-body-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

// h1, h2, h3
h1 {
  letter-spacing: -0.5px !important;
}
h2 {
  letter-spacing: -0.5px !important;
}
h3 {
  letter-spacing: -0.5px !important;
}

@media (min-width: 996px) {
  main {
    border-left: 1px solid var(--thirdweb-border-color) !important;
    position: relative;

    &:before {
      content: "";
      border-left: 1px solid var(--thirdweb-border-color);
      height: 100px;
      width: 0;
      display: block;

      position: absolute;
      top: -100px;
      left: -1px;
    }
  }
}

aside {
  border: 0 !important;
}

.markdown img {
  border-radius: var(--thirdweb-border-radius);
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 64px;
  width: 100%;
  padding-bottom: 64px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.hero-left-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--thirdweb-body-text-color);
}

.hero-left-description {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 150%;
  max-width: 513px;
  color: var(--thirdweb-body-text-color);
}

.hero-right-image-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.hero-right-image {
  min-width: 274px;
  max-width: 274px;
  min-height: 285px;
  max-height: 285px;
  border: 3px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.hero-divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.tw-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  width: 273px;
  height: 94px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
  z-index: 0;
}

.tw-card-icon-container {
  flex: none;
  width: 24px;
  height: 24px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tw-card-icon {
  width: 16.25px;
  height: 16.25px;
  fill: #c29afe;
  border-radius: 0px !important;
}

.tw-card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.tw-card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  font-style: normal;
  color: var(--thirdweb-body-text-color);
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.tw-card-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0px;
}

.tw-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--thirdweb-tertiary-color);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1274px) {
  // don't show the hero image on mobile
  .hero-right {
    display: none;
  }

  .hero-container {
    padding-bottom: 0px;
  }

  .hero-left-title {
    margin-bottom: 0px;
  }

  .hero-left-title > br {
    display: none;
  }

  .hero-left-description {
    max-width: none;
  }
}

// Explore Products Section
.explore-products-container {
}

.explore-products-heading {
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 29px !important;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 0px;
}

.card__body {
  h3 {
    font-size: 1.125rem !important;
    margin-bottom: 12px;
  }
}

.card:hover {
  outline: 1px solid var(--thirdweb-tertiary-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.quickstart-card:hover {
  outline: 1px solid var(--thirdweb-tertiary-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.feedback {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  padding-left: 16px;
  gap: 16px;
  width: 578px;
  width: fit-content;
  min-width: 320px;
  min-height: 67px;
  border-radius: 8px;
  flex-wrap: wrap;
}

// mobile screens
@media (max-width: 997px) {
  .feedback {
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
  }
}

.feedback:hover {
  outline: none;
  box-shadow: none;
}

.feedback-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.03em;
  padding-top: 16px;
  padding-left: 8px;
}

.feedback-button {
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 84px;
  height: 35px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  cursor: pointer;
}

.feedback-button:hover {
  outline: 1px solid var(--thirdweb-tertiary-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  width: 578px;
  max-width: 100%;
  height: 307px;
  border-radius: 8px;
}
.feedback-form:hover {
  outline: none;
  box-shadow: none;
}

.feedback-form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.03em;
  flex: none;
  order: 0;
  flex-grow: 1;
  text-align: left;
}

.feedback-form-input {
  color: #fff;
  box-sizing: border-box;
  padding: 8px 16px;
  gap: 8px;
  width: 530px;
  max-width: 100%;
  height: 120px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
  border-radius: 4px;
  align-self: stretch;
  flex-grow: 0;
  font-family: inherit;
  margin-bottom: 8px;
}

// Welcome to thirdweb Hero section
.heroGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin-bottom: 32px;
}

.heroGridImageContainer {
  width: 40%;
  flex-shrink: 0;
}

@media (max-width: 1399px) {
  .heroGrid {
    flex-direction: column;
  }

  .heroGridImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
  }

  .heroGridImageContainer > img {
    max-height: 400px;
    margin-top: 16px;
  }
}

.tag_node_modules-\@docusaurus-theme-classic-lib-next-theme-Tag-styles-module {
  border: none !important;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deployContractBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 16px;
  margin-bottom: calc(
    var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}

.deployContractBtn {
  appearance: button;
  // background: var(--thirdweb-gradient);
  background: linear-gradient(86.62deg, #c643f4 0%, #8b43f4 82.93%);
  // color: var(--thirdweb-gradient-text-color);
  color: #fff;
  min-height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  border: none;
  font-family: var(--ifm-font-family-base);
  font-size: 15px;
  line-height: 100%;
  font-weight: 500;
  cursor: pointer;
  min-width: 140px;
  width: auto;
}

.deployContractBtn:hover {
  color: #fff !important;
  text-decoration: none;
  opacity: 0.8;

  transition: opacity 0.3s ease-in-out;
}

.viewCodeBtn {
  border: 1px solid var(--thirdweb-primary-color);
  color: var(--thirdweb-gradient-text-color);
  background-color: transparent;
  min-height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  font-family: var(--ifm-font-family-base);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 600;
  cursor: pointer;
  min-width: 140px;
}

.viewCodeBtn:hover {
  text-decoration: none;
  opacity: 0.9;
}

.viewContractCodeBtn {
  border: 1px solid var(--thirdweb-primary-color);
  color: var(--thirdweb-gradient-text-color);
  background-color: transparent;
  min-height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  font-family: var(--ifm-font-family-base);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 600;
  cursor: pointer;
  min-width: 140px;
  width: auto;
}

.viewContractCodeBtn:hover {
  // Dont underline text
  text-decoration: none;
  opacity: 0.9;
}

// On mobile screens (between 641 and 996px)
@media (min-width: 900px) and (max-width: 1100px) {
  .deployContractBtnContainer {
    display: none;
    margin-bottom: calc(
      var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading) + 32px
    );
  }
}

// And on less than 641px screens
@media (max-width: 640px) {
  .deployContractBtnContainer {
    display: none;
    margin-bottom: calc(
      var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading) + 32px
    );
  }
}

.quiz-container {
  // border: 1px solid;
  border-radius: 16px;
  padding: 24px;
  border-color: rgba(255, 255, 255, 0.1);
}

.quiz-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  pointer-events: none;
  text-align: center;
}

// Landing page light mode
html[data-theme="light"] {
  .hero-right-image {
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.05)) !important;
  }

  .hero-divider {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .tw-card {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  }

  .tw-card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--thirdweb-tertiary-color);
    transition: all 0.2s ease-in-out;
  }

  .tw-card-icon {
    fill: #9045fe !important;
  }

  .tw-card-description {
    color: rgba(0, 0, 0, 0.8);
  }
}

.code-snippet-migration-tip {
  opacity: 0.8;
  font-style: italic;
}

// https://www.w3schools.com/HOWTO/howto_css_responsive_iframes.asp
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// Getting Started

.contract-journey-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  gap: 16px;

  // when things shift, smooth transition
  transition: all 0.3s ease-in-out;
  // animate
  animation: fadeIn 0.3s ease-in-out;
  height: auto;
}

.contract-journey-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  cursor: pointer;
  height: 100%;
  min-height: 174px;
  // when things shift, smooth transition
  transition: all 0.3s ease-in-out;
  // animate
  animation: fadeIn 0.3s ease-in-out;

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .logo {
      width: 48px;
      height: 48px;
    }
    .title {
      margin: 0px;
      margin-left: 8px !important;
      font-weight: 500;
      font-size: 20px;
    }
  }

  .description {
    font-size: 16px;
    opacity: 0.9;
    margin-left: 8px;
    margin-top: 6px;
    margin-bottom: 0px;
  }
}

.active-journey-card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--thirdweb-tertiary-color);
  transition: all 0.2s ease-in-out;
}

#prebuilt-contract-section {
  transition: visibility 0s linear 300ms, opacity 300ms;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}

#custom-contract-section {
  transition: visibility 0s linear 300ms, opacity 300ms;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}

#deploy-contract-section {
  transition: visibility 0s linear 300ms, opacity 300ms;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}
// publish

.choose-publish-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  cursor: pointer;
  height: 100%;
  min-height: 174px;
  // when things shift, smooth transition
  transition: all 0.3s ease-in-out;
  // animate
  animation: fadeIn 0.3s ease-in-out;

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .logo {
      width: 48px;
      height: 48px;
    }
    .title {
      margin: 0px;
      margin-left: 8px !important;
      font-weight: 500;
      font-size: 20px;
    }
  }

  .description {
    font-size: 16px;
    opacity: 0.9;
    margin-left: 8px;
    margin-top: 6px;
    margin-bottom: 0px;
  }
}

.choose-publish-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  gap: 16px;

  // when things shift, smooth transition
  transition: all 0.3s ease-in-out;
  // animate
  animation: fadeIn 0.3s ease-in-out;
  height: auto;
}

#standard-contract-section {
  transition: visibility 0s linear 300ms, opacity 300ms;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}

#proxy-contract-section {
  transition: visibility 0s linear 300ms, opacity 300ms;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}

#factory-contract-section {
  transition: visibility 0s linear 300ms, opacity 300ms;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}
