body {
  color: "var(--thirdweb-text-color)";
  font-size: 18px;
}

@media (min-width: 961px) {
  main {
    border-left: 1px solid var(--thirdweb-border-color) !important;
    position: relative;

    &:before {
      content: "";
      border-left: 1px solid var(--thirdweb-border-color);
      height: 100px;
      width: 0;
      display: block;

      position: absolute;
      top: -100px;
      left: -1px;
    }
  }
}

aside {
  border: 0 !important;
}

.markdown img {
  border-radius: var(--thirdweb-border-radius);
}

.card {
  font-size: 16px;
}

.card__body {
  h3 {
    font-size: 1.125rem !important;
    margin-bottom: 12px;
  }
}

.card:hover {
  outline: 1px solid var(--thirdweb-tertiary-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.quickstart-card:hover {
  outline: 1px solid var(--thirdweb-tertiary-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.feedback {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  padding-left: 16px;
  gap: 16px;
  width: 578px;
  width: fit-content;
  min-width: 320px;
  min-height: 67px;
  border-radius: 8px;
  flex-wrap: wrap;
}

// mobile screens
@media (max-width: 960px) {
  .feedback {
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
  }
}

.feedback:hover {
  outline: none;
  box-shadow: none;
}

.feedback-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.03em;
  padding-top: 16px;
  padding-left: 8px;
}

.feedback-button {
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 84px;
  height: 35px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  cursor: pointer;
}

.feedback-button:hover {
  outline: 1px solid var(--thirdweb-tertiary-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  width: 578px;
  max-width: 100%;
  height: 307px;
  border-radius: 8px;
}
.feedback-form:hover {
  outline: none;
  box-shadow: none;
}

.feedback-form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.03em;
  flex: none;
  order: 0;
  flex-grow: 1;
  text-align: left;
}

.feedback-form-input {
  color: #fff;
  box-sizing: border-box;
  padding: 8px 16px;
  gap: 8px;
  width: 530px;
  max-width: 100%;
  height: 120px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
  border-radius: 4px;
  align-self: stretch;
  flex-grow: 0;
  font-family: inherit;
  margin-bottom: 8px;
}

// Welcome to thirdweb Hero section
.heroGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-bottom: 32px;
}

.heroGridImageContainer {
  width: 50%;
  flex-shrink: 0;
}

@media (max-width: 1399px) {
  .heroGrid {
    flex-direction: column;
  }

  .heroGridImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
  }
}

.tag_node_modules-\@docusaurus-theme-classic-lib-next-theme-Tag-styles-module {
  border: none !important;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deployContractBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 16px;
  margin-bottom: calc(
    var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}

.deployContractBtn {
  appearance: button;
  background-color: #a855f7;
  color: #fff;
  min-height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  border: none;
  font-family: var(--ifm-font-family-base);
  font-size: 15px;
  line-height: 1.1;
  font-weight: 500;
  cursor: pointer;
  min-width: 140px;
  width: auto;
}

.deployContractBtn:hover {
  // Dont underline text
  text-decoration: none;
  color: #fff;
}

.viewCodeBtn {
  border: 1px solid #a855f7;
  color: #fff;
  background-color: transparent;
  min-height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  font-family: var(--ifm-font-family-base);
  font-size: 15px;
  line-height: 1.1;
  font-weight: 500;
  cursor: pointer;
  min-width: 140px;
  max-width: 192px;
}

.viewCodeBtn:hover {
  // Dont underline text
  text-decoration: none;
  color: #a855f7;
}

.viewContractCodeBtn {
  border: 1px solid #a855f7;
  color: #fff;
  background-color: transparent;
  min-height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  font-family: var(--ifm-font-family-base);
  font-size: 15px;
  line-height: 1.1;
  font-weight: 500;
  cursor: pointer;
  min-width: 140px;
  width: auto;
}

.viewContractCodeBtn:hover {
  // Dont underline text
  text-decoration: none;
  color: #a855f7;
}

// On mobile screens (between 641 and 996px)
@media (min-width: 900px) and (max-width: 1100px) {
  .deployContractBtnContainer {
    display: none;
    margin-bottom: calc(
      var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading) + 32px
    );
  }
}

// And on less than 641px screens
@media (max-width: 640px) {
  .deployContractBtnContainer {
    display: none;
    margin-bottom: calc(
      var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading) + 32px
    );
  }
}

.quiz-container {
  // border: 1px solid;
  border-radius: 16px;
  padding: 24px;
  border-color: rgba(255, 255, 255, 0.1);
}

.quiz-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  pointer-events: none;
  text-align: center;
}
