body {
  color: var(--thirdweb-body-text-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: initial;
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -0.05em;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: 0.15px;
    color: var(--thirdweb-heading-color);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: 0.15px;
    color: var(--thirdweb-heading-color);
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: 0.15px;
    color: var(--thirdweb-heading-color);
  }

  h4 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--thirdweb-heading-color);
  }

  h5 {
    color: var(--thirdweb-heading-color);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.1px;
  }
}

// Landing page light mode
html[data-theme="light"] {
}
