body {
  font-size: 1.125rem;
  line-height: 1.7777778;
  font-weight: 400;
  overflow-wrap: break-word;
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -0.05em;
  }

  h1 {
    margin-top: 0;
    font-size: 48px;
    letter-spacing: -3%;
    font-weight: 600;
    line-height: 57.6px;
  }

  h2 {
    font-size: 2.441rem;
    font-weight: 600;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: -3%;
  }

  h4 {
    font-size: 1.563rem;
    font-weight: 600;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  @media (max-width: 640px) {
    --ifm-h2-vertical-rhythm-top: 1;
    --ifm-h3-vertical-rhythm-top: 2;

    h1 {
      margin-top: 0;
      font-size: 1.802rem;
    }

    h2 {
      font-size: 1.602rem;
    }

    h3 {
      font-size: 1.424rem;
    }

    h4 {
      font-size: 1.266rem;
    }

    h5 {
      font-size: 1.125rem;
    }
  }
}
