.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

@media (min-width: 996px) {
  .navbar {
    width: var(--doc-sidebar-width);
    border-bottom: 0;
  }

  .navbar__brand {
    font-size: 18px;
    padding-left: 1rem;
  }
}

.breadcrumbs__link > svg {
  width: 18px;
  height: 18px;
  padding-bottom: 2px;
}

.breadcrumbs__link {
  background-color: transparent !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.8) !important;
  padding-bottom: 0px;
}

html[data-theme="dark"] .breadcrumbs__link {
  color: rgba(255, 255, 255, 0.8) !important;
}
