.featured-template-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  min-height: 320px;
  gap: 3%;
  padding: 16px;
  margin-bottom: 32px;
}

.featured-template-left {
  img {
    max-height: 360px;
  }
}

.featured-template-right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 16px;
  }
}

@media (max-width: 640px) {
  .featured-template-card {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0px;

    img {
      max-height: 200px;
    }
  }

  .featured-template-left {
    width: 100%;
  }

  .featured-template-right {
    width: 100%;
  }
}

@media (min-width: 997px) and (max-width: 1399px) {
  .featured-template-right .button-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

// And on less than 641px screens
@media (max-width: 832px) {
  .featured-template-right .button-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

html[data-theme="light"] {
  .featured-template-card {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  }
}

.view-demo-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
  background: linear-gradient(86.62deg, #c643f4 0%, #8b43f4 82.93%);
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  color: #fff;
}

html[data-theme="light"] .view-demo-btn {
  text-decoration: none;
  color: #fff !important;
}

html[data-theme="light"] .view-demo-btn:hover {
  color: #fff !important;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

html[data-theme="dark"] .view-demo-btn {
  /* background: linear-gradient(83.27deg, #c29afe 17.16%, #fe9aee 99.87%); */
  /* color: #000; */
  text-decoration: none;
}

html[data-theme="dark"] .view-demo-btn:hover {
  color: #fff !important;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.view-code-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
  border: 1px solid #8b43f4;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  color: #fff;
}

html[data-theme="light"] .view-code-btn {
  text-decoration: none;
  color: #000 !important;
}

html[data-theme="light"] .view-code-btn:hover {
  color: #000 !important;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

html[data-theme="dark"] .view-code-btn {
  /* background: linear-gradient(83.27deg, #c29afe 17.16%, #fe9aee 99.87%); */
  /* color: #000; */
  text-decoration: none;
}

html[data-theme="dark"] .view-code-btn:hover {
  color: #fff !important;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.always-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: row !important;
}
